.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-links-top-right-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
}


.header-links {
    text-decoration: none;
}

.header-container .header-links-top-right-container .header-link-text .header-links {
    font-size: 18px;
    color: #E5E7EB;
}



.top-container {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}

body {
    margin: 0;
    padding: 0;
}



.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    padding-top: 16px;
    font-weight: bold;
}

.header-text {
    color: #F9FAF8; 
    font-size: 40px;
}



.header-links {
    color: #E5E7EB;
    font-size: 18px;
}

.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.top-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 100px;
    margin-top: 50px;
}

.top-right-container {
    width: 900px;
    height: 175px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-left-container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.header-button {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30%;
}

.sign-up-link-header {
    display: flex;
    text-align: center;
    text-wrap: nowrap;
    padding: 0;
    margin: 0;
}

h1 {
    margin:0;
}

.info-section-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.info-section-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.subtext-for-boxes{
    display: flex;
    /* justify-content: center; */
    /* text-wrap: wrap; */
    width: 130px;
    text-align: center;
}

.knight-mini-images{
    height: 120px;
    width: 120px;
    border-width: 3px;
    border-style:inset;
    border-color: #3882F7;
    border-radius: 0.5em;
}









.bottom-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    font-size: 30px;
    
}

.quote-credit {
    display: flex;
    justify-content: flex-end;
    font-size: 24px; 
}

.top-page-container {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.placeholder-img {
    width: 100%;
}

.call-to-action-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-container {
    display: flex;
    background-color: #3882F6;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 0.5em;
    justify-content: space-between;
    height: 150px;
}

.call-to-action-inner-container {
    display: flex;
    margin: 50px;
    gap: 100px;
}
.call-to-action-left-subcontainer {
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    display: flex;
    gap: 5px;
}

.call-to-action-right-subcontainer {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}


.footer-button {
    border-color: white;
    border-width: 2px;
    background-color: #3882F6;
    border-radius: 10px;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sign-up-link-footer {
    color: white;
    font-weight: bold;

}

.call-to-action-header {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.call-to-action-subtext {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.copyright-footer-container {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}


.copyright {
    color: #E5E7EB;
    font-size: 12px;
}